<div class="tabs">
    <!-- Tab Navigation -->
    <ul class="tab-nav">
        <li class="tab1" [class.active]="selectedTab === 0" (click)="selectTab(0)">
            Multiple Spinner
        </li>
        <li class="tab2" [class.active]="selectedTab === 1" (click)="selectTab(1)">
            All Spinner Demo
        </li>
    </ul>

    <!-- Tab Content -->
    <div 
        class="tab-content" 
        [ngClass]="{
            'cyan-border': selectedTab === 0, 
            'pink-border': selectedTab === 1
        }">
        <div *ngIf="selectedTab === 0">
            <!-- <h3>Content of Tab 1</h3> -->
            <app-multi-card-demo></app-multi-card-demo>
        </div>
        <div *ngIf="selectedTab === 1">
            <app-all-spinner-demo></app-all-spinner-demo>
        </div>
    </div>
</div>
