.tabs {
    font-family: Arial, sans-serif;
    padding: 24px;
}

.tab-nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    overflow: auto;
}

.tab-nav li {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    margin-right: 5px;
    transition: background-color 0.3s ease;
}

.tab-nav li:hover {
    background-color: #ddd;
}

.tab-nav li.active {
    border-bottom: 3px solid;
    font-weight: bold;
}

.tab1.active {
    border-color: cyan !important;
    background: #00ffff36 !important;
}

.tab2.active {
    border-color: pink !important;
    background: #ffc0cb57 !important;
}

.tab3.active {
    border-color: orange !important;
    background: rgb(255, 232, 188) !important;
}

.tab4.active {
    border-color: #9B1BBF !important;
    background: #EEB4FF !important;
}

.tab-content {
    padding: 20px;
    border: 1px solid #ccc;
    transition: border-color 0.3s ease;
    padding-top: 0px;
}

.tab-content.cyan-border {
    border-color: cyan;
}

.tab-content.pink-border {
    border-color: pink;
}

.tab-content.orange-border {
    border-color: orange;
}

.tab-content.green-border {
    border-color: #9B1BBF;
}

.tab-border {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}