.content-container {
    width: 250px;
    height: 250px;
    position: relative;
    margin-top: 20px;
    border-radius: 12px;
}

.all-spin-d-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.all-spin-p-1 {
    margin-left: 12px;
}