

.header {
    // background: rgb(203, 246, 255);
    background: radial-gradient(circle, rgba(203, 246, 255, 1) 0%, rgba(0, 212, 255, 1) 100%);
    font-size: 28px;
    font-weight: bold;
    padding: 12px;
}


