<div class="main-container">
    <div class="container-ctm">
  
  
      <!-- Card 1 with its own buttons -->
      <div class="btn-custom">
        <button class="button showButton" (click)="showSpinner('card1')">Show Spinner 1</button>
        <button  class="button hideButton" (click)="hideSpinner('card1')">Hide Spinner 1</button>
      </div>
      <div class="ctm-card">
        <p>Content 1</p>
        <d-spinner card="card1" loader="rotating-pie-shape" width="100" thickness="4" primaryColor="yellow"
          secondaryColor="cyan" transparencyColor="#91919136">
        </d-spinner>
      </div>
    </div>
  
    <div class="container-ctm">
      <!-- Card 2 with its own buttons -->
      <div class="btn-custom">
        <button class="button showButton" (click)="showSpinner('card2')">Show Spinner 2</button>
        <button class="button hideButton" (click)="hideSpinner('card2')">Hide Spinner 2</button>
      </div>
      <div class="ctm-card">
        <p>Content 2</p>
        <d-spinner card="card2" loader="glowing-ring" width="100" thickness="4" primaryColor="white"
          transparencyColor="#91919136">
        </d-spinner>
      </div>
    </div>
  
    <div class="container-ctm">
      <!-- Card 3 with its own buttons -->
      <div class="btn-custom">
        <button class="button showButton" (click)="showSpinner('card3')">Show Spinner 3</button>
        <button class="button hideButton" (click)="hideSpinner('card3')">Hide Spinner 3</button>
      </div>
      <div class="ctm-card">
        <p>Content 3</p>
        <d-spinner card="card3" loader="balancing-shapes" width="100" thickness="4" primaryColor="purple"
          secondaryColor="orange" transparencyColor="#91919136">
        </d-spinner>
      </div>
    </div>
  
    <div class="container-ctm">
      <!-- Card 4 with its own buttons -->
      <div class="btn-custom">
        <button class="button showButton" (click)="showSpinner('card4')">Show Spinner 4</button>
        <button class="button hideButton" (click)="hideSpinner('card4')">Hide Spinner 4</button>
      </div>
      <div class="ctm-card">
        <p>Content 4</p>
        <d-spinner card="card4" loader="rising-bars-with-dot" width="100" thickness="4" primaryColor="white"
          secondaryColor="red" transparencyColor="#91919136">
        </d-spinner>
      </div>
    </div>

    <div class="container-ctm">
        <div class="btn-custom">
          <button class="button showButton" (click)="showSpinner('card5')">Show Spinner 5</button>
          <button class="button hideButton" (click)="hideSpinner('card5')">Hide Spinner 5</button>
        </div>
        <div class="ctm-card">
          <p>Content 5</p>
          <d-spinner card="card5" loader="dotted-circular" width="100" thickness="4" primaryColor="white"
            secondaryColor="#00dbff" transparencyColor="#91919136">
          </d-spinner>
        </div>
      </div>

      <div class="container-ctm">
        <div class="btn-custom">
          <button class="button showButton" (click)="showSpinner('card6')">Show Spinner 6</button>
          <button class="button hideButton" (click)="hideSpinner('card6')">Hide Spinner 6</button>
        </div>
        <div class="ctm-card">
          <p>Content 6</p>
          <d-spinner card="card6" loader="loading-bounce" width="100" thickness="4" primaryColor="white"
            secondaryColor="red" transparencyColor="#91919136">
          </d-spinner>
        </div>
      </div>

      <div class="container-ctm">
        <div class="btn-custom">
          <button class="button showButton" (click)="showSpinner('card7')">Show Spinner 7</button>
          <button class="button hideButton" (click)="hideSpinner('card7')">Hide Spinner 7</button>
        </div>
        <div class="ctm-card">
          <p>Content 7</p>
          <d-spinner card="card7" loader="orbiting-dots" width="100" thickness="4" primaryColor="#e9f92d"
            secondaryColor="#4cae89" transparencyColor="#91919136">
          </d-spinner>
        </div>
      </div>

      
      <div class="container-ctm">
        <div class="btn-custom">
          <button class="button showButton" (click)="showSpinner('card8')">Show Spinner 8</button>
          <button class="button hideButton" (click)="hideSpinner('card8')">Hide Spinner 8</button>
        </div>
        <div class="ctm-card">
          <p>Content 8</p>
          <d-spinner card="card8" loader="scattered-diamond" width="100" thickness="4"  transparencyColor="#91919136">
          </d-spinner>
        </div>
      </div>

  </div>